@charset "UTF-8";

@font-face {
    font-family: 'rubik';
    src: url('../fontes/RubikScribble-Regular.ttf');
}
@font-face {
    font-family: 'smile';
    src: url('../fontes/The\ Smile.otf');
}
@font-face {
    font-family: 'robot';
    src: url('../fontes/RobotoCondensed-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'ubuntu';
    src: url('../fontes/Ubuntu-Medium.ttf');
}


:root{
    --cor01: #5f236b;
    --cor02: #f5eb6d; 
    --cor03: #E6B412;
    --cor04: #ed8554;

    --font1: 'ubuntu', Arial, Helvetica, sans-serif;
    --font2: 'robot', Arial, Helvetica, sans-serif;
    --font-manu: 'rubik', Arial, Helvetica, sans-serif;
    --font-ludica: 'smile', Arial, Helvetica, sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

body, main{
    width: 100vw;
    height: 100vh;
    background-color: var(--cor01);
    display: flex;
    justify-content: center;
    align-items: center;
}

#l-direito{
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-d{
    width: 90%;
    height: 200px;
    background-color: #84558d90;
    border-radius: 10px;
    box-shadow: 0px 10px 40px #00000056;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#l-esquerdo{
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-e{
    width: 90%;
    height: 200px;
    background-color: #84558d90;
    border-radius: 10px;
    box-shadow: 0px 10px 40px #00000056;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    color: var(--cor03);
    padding: 10px;
    font-family: var(--font1);
}
p{
    color: antiquewhite;
    padding: 10px;
}
.icon-img{
    width: 4vw;
    padding: 10px;

}


@media(max-width: 800px){
    #l-direito{
        width: 85%;
    }
    #l-esquerdo{
        width: 85%;
    }
} 

@media(max-width: 400px){
    body{
        flex-direction: column;
    }
    main{
        flex-direction: column;
    }
    .icon-img{
        width: 10vw;
    }
    #l-direito{
        width: 100%;
        height: auto;
        margin: 10px;
    }
    #l-esquerdo{
        width: 100%;
        height: auto;
        margin: 10px;
    }

}


